<!-- This is the topology edit modal -->
<div id='quickvm_editmodal' class='modal fade'>
  <div class='modal-dialog' id='edit_dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>
          &times;</button>
        <h3>Topology Editor</h3>
      </div>
      <div class='modal-body'>
        <!-- This topo diagram goes inside this div -->
        <div class='panel panel-default'
             id='edit_container'>
          <div class='panel-body'>
            <div id='edit_nopicker' class='jacks'></div>
	    <div class='edit_buttons'>
	      <button id='edit-save' class='btn btn-primary'>Accept</button>
	      <button type='button' class='btn btn-default' data-dismiss='modal'>Cancel</button>
	    </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
